# Data Science Tools and Ecosystem

In [2]:
#In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
List Popular Languages in Data Science
List Common Used Libraries in Data Science
Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are:
1-Python
2-R
3-Java
4-Scala
5-Julia

Some of the commonly used libraries used by Data Scientists include:
1-Pandas
2-Numpy
3-Matplotlib
4-Seaborn
5-Pytorch
6-Keras

|Data Science Tools|
|:----------------:|
|RStudio           |
|Apache Spark      |
|RapidMiner        |

### Below are a few examples of evaluating arithmetic expressions in Python
Addition (+)
Subtraction (-)
Multiplication (*)
Division (/)

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Şimal Şahin